.comment{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--colorWhite);
    border: 2px solid var(--colorBrown);
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.comment:hover {
    background-color: var(--colorBrown);
}
.comment:hover .comment_text{
    color: var(--colorWhite);
}
.comment_userName{
    display: block;
    margin-top: 1.5rem;
    font-family: var(--black) !important;
    font-size: 2rem !important;
    font-weight: bold;
    color: var(--colorBlack);
}
.comment_job{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--colorBlack);
}
.comment_text{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--colorGray);
}