.footer{
    display: block; 
    width: 100%;
    margin-top: 5rem;
    padding: 3rem 0;
    background-color: var(--colorNavyBlue);
    color: var(--colorWhite);
}
.footer_title{
    display: inline-block;
    margin-bottom: 1.5rem;
    position: relative;
    font-family: var(--black);
    font-size: 1.4rem;
    font-weight: 600;
}
.footer_title::after{
    display: block;
    content: "";
    position: absolute;
    margin-top: 0.4rem;
    width: 100%;
    height: 0.1rem;
    background-color: var(--colorWhite);
}
.footer_content{
    display: block;
}
.footer_content_desc{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 600;
}
.footer_items{
    display: block;
}
.footer_item{
   margin-bottom: 1rem;
}
.footer_item_link{
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--colorWhite);
    transition: all 0.4s ease-out;
}
.footer_item_link:hover{
    margin-right: 1rem;
}

.footer_box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.footer_box_icon{
    font-size: 1.5rem !important;
}
.footer_box_content{
    display: block;
    margin-right: 0.7rem;
}
.footer_box_title{
    font-family: var(--black);
    font-size: 1.4rem;
    font-weight: 600;
}
.footer_box_text{
    font-size: 1.1rem;
    font-weight: 600;
}