/* <<<< import file Css >>>> */
@import url(../style/reset.module.css);
/* <<<< import file Css >>>> */

/* <<<< File Font  >>>> */
@font-face {
  font-family: iranMedium;
  src: url(/public/font/IRANSansX-Medium.woff);
}

@font-face {
  font-family: iranBold;
  src: url(/public/font/IRANSansX-Bold.woff);
}

@font-face {
  font-family: iranBlack;
  src: url(/public/font/IRANSansX-Black.woff);
}
/* <<<< File Font  >>>> */

/* <<<< root = variable >>>> */
:root{
  --medium : iranMedium;
  --bold: iranBold;
  --black : iranBlack;

  --colorWhite : #ffffff;
  --colorBlack : #11161E;
  --colorBrown: #C2A773;
  --colorNavyBlue: #151A32;
  --colorYellow: #FFC107;
  --colorGray: #CACACA;
}
/* <<<< root = variable >>>> */

/* <<<< body Style >>>> */
body{
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--medium) !important;
  font-weight: 600;
}
/* <<<< body Style >>>> */

/* <<<< Style Containers >>>> */
.containers{
  max-width: 85rem ;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
/* <<<< Style Containers >>>> */
/* <<<< Button  >>>> */
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  height: 2.5rem;
  background-color: var(--colorBrown);
  border-radius: 0.4rem;
  font-family: var(--bold);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--colorWhite);
  transition: all 0.4s ease-in;
}
.button:hover{
background-color: var(--colorNavyBlue);
}
/* <<<< Button  >>>> */

/* <<<< Content style for form loginRegister >>>> */
.content{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.content_title{
  display: block;
  font-family: var(--bold) !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  color: var(--colorNavyBlue);
}
.content_text{
  display: block;
  font-family: var(--bold) !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  color: var(--colorGray);
}
/* <<<< Content style for form loginRegister >>>> */
/* <<<< form login-Register style >>>> */
.form{
  display: block;
  width: 100%;
}
.form_input{
  display: block;
  width: 100%;
  height: 3rem;
  outline: none;
  border: 1px solid var(--colorBrown);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-right: 0.4rem;
  font-family: var(--black);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--colorNavyBlue);
}
.form_link_forget{
  display: block;
  text-decoration: none;
  color: red;
  font-family: var(--black);
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 0.4s ease-out;
}
.form_link_forget:hover{
  color: var(--colorBrown);
}
.form_submit{
  border: none;
  outline: none;
  margin-top: 2rem;
  width: 100%;
}
/* <<<< form login-Register style >>>> */