/* <<<< import file Css >>>> */
@import url(../style/reset.module.css);
/* <<<< import file Css >>>> */

/* <<<< File Font  >>>> */
@font-face {
  font-family: iranMedium;
  src: url(/public/font/IRANSansX-Medium.woff);
}

@font-face {
  font-family: iranBold;
  src: url(/public/font/IRANSansX-Bold.woff);
}

@font-face {
  font-family: iranBlack;
  src: url(/public/font/IRANSansX-Black.woff);
}
/* <<<< File Font  >>>> */

/* <<<< root = variable >>>> */
:root{
  --medium : iranMedium;
  --bold: iranBold;
  --black : iranBlack;

  --colorWhite : #ffffff;
  --colorBlack : #11161E;
  --colorBrown: #C2A773;
  --colorNavyBlue: #151A32;
  --colorYellow: #FFC107;
  --colorGray: #CACACA;
}
/* <<<< root = variable >>>> */

/* <<<< body Style >>>> */
body{
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--medium) !important;
  font-weight: 600;
}
/* <<<< body Style >>>> */

/* <<<< Style Containers >>>> */
.containers{
  max-width: 85rem ;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
/* <<<< Style Containers >>>> */
/* <<<< Button  >>>> */
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  height: 2.5rem;
  background-color: var(--colorBrown);
  border-radius: 0.4rem;
  font-family: var(--bold);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--colorWhite);
  transition: all 0.4s ease-in;
}
.button:hover{
background-color: var(--colorNavyBlue);
}
/* <<<< Button  >>>> */
/* <<<<  >>>> */
/* <<<<  >>>> */