.card{
    display: block;
    text-decoration: none;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: 0.4rem;
    background-color: var(--colorWhite);
    border: 1px solid var(--colorGray);
    overflow: hidden;
    transition: all 0.4s ease-in;
}
.card:hover .card_title{
    color: var(--colorYellow);
}
.card_img{
    width: 100%;
}
.card_content{
    display: block;
    padding: 1rem;
}
.card_title{
    display: block;
    font-family: var(--bold);
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--colorBlack);
}
.card_price{
    display: block;
    font-family: 1.5rem;
    font-weight: 600;
    color: var(--colorNavyBlue);
}
