.blogCard{
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 6rem;
}
.blogCard_img{
width: 100%;
}
.blogCard_content{
    display: block;
    position: absolute;
    width: 230px;
    bottom:-6rem;
    background-color:var(--colorWhite);
    padding: 1rem;
}
.blogCard_date{
    display: block;
    font-family: var(--bold);
    font-size: 1.1rem;          
    color: var(--colorGray);
}
.blogCard_desc{
    font-family: var(--black);
    font-size: 1.3rem;
    margin: 0.7rem 0;
}
