.banner{
    display: block;
    width: 100%;
    height: 100%;
    background: url(/images/bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.banner_content{
    display: block;
    margin-top: 6rem;
}
.banner_content_text{
    display: block;
    font-size: 2rem;
    color: var(--colorBrown);
}
.banner_content_title{
    display: block;
    margin-top: 2rem;
    max-width: 25rem;
    font-family: var(--black);
    font-weight: bolder !important;
    font-size: 4rem !important;
    color: var(--colorBlack);
}
.content_desc{
    display: block;
    font-size: 1.4rem;
    color: var(--colorNavyBlue);
}
.banner_img{
    display: block;
    margin: 1.5rem auto;
    width: 80%;
}